<div class="row my-3">
    <div class="col-lg-8">
        <div class="card section-1-1">
            <div class="card-body">
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mt-3 mt-lg-0">
        <div class="row">
            <div class="col-6 col-lg-12 section-1-2">
                <div class="card section-1-2-1">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-12 mt-1 section-1-2">
                <div class="card section-1-2-1">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Second Row  -->
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-6">
                        <div class="card section-1-2-1">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        jkasdjh alskjdh alsdlkas dlkjas ljkasd las lasdj lasj lasjkd lasjd alsjkd aslkj aslkjasdl jksdlk asdjk aslj dsjk asdj asd
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mt-sm-1 mt-lg-0">
                <div class="row">
                    <div class="col-6">
                        <div class="card section-1-2-1">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        jkasdjh alskjdh alsdlkas dlkjas ljkasd las lasdj lasj lasjkd lasjd alsjkd aslkj aslkjasdl jksdlk asdjk aslj dsjk asdj asd
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6 my-1">
                <div class="row">
                    <div class="col-6">
                        <div class="card section-1-2-1">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        jkasdjh alskjdh alsdlkas dlkjas ljkasd las lasdj lasj lasjkd lasjd alsjkd aslkj aslkjasdl jksdlk asdjk aslj dsjk asdj asd
                    </div>
                </div>
            </div>
            <div class="col-lg-6 my-1">
                <div class="row">
                    <div class="col-6">
                        <div class="card section-1-2-1">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        jkasdjh alskjdh alsdlkas dlkjas ljkasd las lasdj lasj lasjkd lasjd alsjkd aslkj aslkjasdl jksdlk asdjk aslj dsjk asdj asd
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Third Row  -->
<div class="row my-3">
    <div class="col-6">
        <div class="row">
            <div class="col-6 bg-danger text-white mx-3 px-2 py-2 text-uppercase">
                recent news
            </div>
        </div>
        <div class="card bg-danger"></div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6 bg-danger text-white mx-3 px-2 py-2 text-uppercase">
                Top Stories
            </div>
        </div>
        <div class="card bg-danger"></div>
    </div>
</div>

<!-- Fourth Row  -->
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-6">
                        <div class="card section-1-2-1">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        jkasdjh alskjdh alsdlkas dlkjas ljkasd las lasdj lasj lasjkd lasjd alsjkd aslkj aslkjasdl jksdlk asdjk aslj dsjk asdj asd
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-1">
                <div class="card section-1-2-1">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-8 my-1">
                <div class="row">
                    <div class="col-6">
                        <div class="card section-1-2-1">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        jkasdjh alskjdh alsdlkas dlkjas ljkasd las lasdj lasj lasjkd lasjd alsjkd aslkj aslkjasdl jksdlk asdjk aslj dsjk asdj asd
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-1">
                <div class="card section-1-2-1">
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>